main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
  grid-gap: 1rem;

  .card {
    transition: transform 1s;

    &:hover {
      /*  background-color: red;
            transition: background-color 1000ms; */
      //ransform: translateY(-10px);
    }
  }
}

p {
  -webkit-font-smoothing: antialiased;
}
img {
  width: 100%;
}

.cover {
  .cover-headline {
    margin: 10% auto 15%;
    text-align: center;
    height: 10vh;
  }
  .cover-body {
    background-color: yellow;
    height: 90vh;
  }
}

.intro {
  .intro-headline {
    margin: 10% auto 15%;
    text-align: center;
    height: 10vh;
  }
  .intro-body {
    background-color: blue;
    height: 70vh;
  }
}

.story {
  .story-headline {
    margin: 10% auto 15%;
    text-align: center;
    height: 10vh;
  }
  .story-body {
    background-color: red;
    height: 70vh;
  }
}

.downlaod {
    .download-headline{
        margin: 10% auto 15%;
        text-align: center;
        height: 10vh;
    }
    .download-body {
        background-color: pink;
        height: 70vh;
  }
}

.html {
  font-family: MaisonNeue, sans-serif;
}

.x-container {
  padding: 0 8%;
}
