.page-grid {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 10vh auto 10vh auto auto;
  grid-template-areas:
    "."
    "story"
    '.'
    "steps"
    "features";
  width: 100%;

  .story {
    background-color: white;
    grid-area: story;
    width: 100%;

    .x-container {
      padding: 0 5%;

      .x-grid {
        @media only screen and (min-width: 1200px) {
          grid-template-columns: 50% 50%;
          grid-template-rows: 1fr;
          grid-template-areas: "story-headline story-illustration";
        }

        @media only screen and (min-width: 300px) and (max-width: 1200px) {
          grid-template-columns: 100%;
          grid-template-rows: auto 1fr;
          grid-template-areas:
            "story-headline"
            "story-illustration";
        }

        display: grid;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;

        .story-headline {
          grid-area: story-headline;
          margin: 5% 5% 5%;
          text-align: center;
          justify-content: center;
          justify-self: center;
          width: 80%;
        }

        .story-illustration {
          grid-area: story-illustration;
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 5vh;

          /*  
        push item up on hover
         transition: transform 1s;
          &:hover {
            transform: translateY(-10px) ;
          } */
          img {
            align-self: center;
            max-width: 600px;
            width: 100%;
            border-radius: 18px;
          }
        }

        .story-body {
          flex-basis: 1;
          background-color: red;
          height: 70vh;
        }
      }
    }
  }

  .steps {
    grid-area: steps;
    width: 100%;

    .x-container {
      padding: 0 5%;

      .steps-headline {
        margin: 5% 5% 5%;
        width: 80%;
        text-align: center;
        justify-content: center;
        justify-self: center;
      }

      .x-grid {
        margin-top: 8vh;
        grid-template-columns: 20% 80%;
        grid-template-rows: 1fr;
        grid-template-areas: "steps-grid-left steps-grid-right";
        display: grid;
        width: 100%;

        .steps-grid-left {
          grid-area: steps-grid-left;
          width: 100%;
          height: 100%;
          display: flex;
          justify-self: center;

          .steps-chain {
            margin-top: 20px;
            margin-left: 60%;
            height: 100%;
            width: 10px;
            background: linear-gradient(0deg, #f8f9fa, #e2e6e8 30%, #e2e6e8);
          }
        }

        .steps-grid-right {
          max-width: 75%;
          width: 75%;
          grid-area: steps-grid-right;
          display: flex;
          flex-direction: column;

          .step-items {
            max-width: 1000px;
            background-color: rgb(255, 255, 255);

            .step-item {
              width: 100%;

              background-color: rgb(255, 255, 255);

              .step-item-number {

                @media (min-width: 1250px) {
                  height: 50px;
                  width: 50px;
                  margin-left: -8vw;
                }

                @media (min-width: 525px) and (max-width: 1250px) {
                  height: 40px;
                  width: 40px;
                  margin-left: -9vw;
                }

                @media (min-width: 300px) and (max-width: 525px) {
                  height: 35px;
                  width: 35px;
                  margin-left: -10.5vw;
                }

                position: absolute;
                background: rgb(223, 226, 229);
                border-radius: 25px;
                height: 40px;
                width: 40px;
                text-align: center;

                h4 {
                  color: white;
                }
              }

              p {
                margin-top: 1vh;
                text-align: left;
                margin-bottom: 10vh;
              }
            }
          }
        }

      }
    }
  }

  .features {

    //center headlines for this div
    h2 {
      text-align: center;
    }

    h4 {
      text-align: left;
      height: fit-content;
      margin: 5% 0 5% 0;
    }

    h3,
    p {
      height: fit-content;
      text-align: left;
      margin-top: 0;
    }


    width: 100%;
    background-color: rgb(247, 248, 249);
    grid-area: features;

    .x-container {
      padding: 5% 5% 0 5%;

      .features-headline {
        margin: 5% 5% 5%;
        width: 80%;


      }

      .x-grid {

        @media (min-width: 1300px) {
          grid-template-columns: 30% 5% 30% 5% 30%;
          grid-template-rows: 1fr;
          grid-template-areas: "feature-1 . feature-2 . feature-3";
        }

        @media (max-width: 1300px) {
          grid-template-columns: 100%;
          grid-template-rows: auto 5vh auto 5vh auto;
          grid-template-areas:
            "feature-1"
            "."
            "feature-2"
            "."
            "feature-3";
        }

        margin-top: 10vh;
        display: grid;

        .feature-1 {
          grid-area: feature-1;
        }

        .feature-2 {
          grid-area: feature-2;
        }

        .feature-3 {
          grid-area: feature-3;
        }

      }
    }
  }
}

p {
  margin-top: 4vh;
  display: block;
  font-size: 1.7rem;
  text-align: center;
  text-rendering: optimizeLegibility;
}

h2 {
  font-size: 4rem;
  line-height: 5rem;
}

h3 {
  font-size: 3rem;
  line-height: 3.5rem;
}

h4 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h5 {
  font-size: 1.5rem;
  line-height: 2.2rem;
}

html {
  @media (max-width: 58em) {
    font-size: 14px;
  }

  @media (max-width: 35.5em) {
    font-size: 10px;
  }

  font-size: 16px;
  font-family: 'Raleway',
  sans-serif;
}

* {
  line-height: 2.5rem;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  box-sizing: border-box;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;

  .logo {
    font-size: 1.4rem;
    align-self: center;
    margin-left: 5vw;
    z-index: 201
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30vw;

  li {
    list-style: none;
  }

  a {
    color: black;
    background-color: none;
    text-decoration: none;
  }
}

/* .burger-menu{
  height: 6vh;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
} */
.burger {
  margin-right: 3vw;
  display: none;

  div {
    align-items: center;
    margin: 3px;
    width: 25px;
    height: 1px;
    background-color: black;
    transition: all 0.3s ease;
  }
}

//mobile nav drawer
@media only screen and (min-width: 300px) and (max-width: 1200px) {


  .nav-links {
    background-color: white;
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0;
    width: 30vw;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.4s linear;
    z-index: 200;

    li {
      padding: 7vh 0 3vh 0;
      align-self: flex-start;
      height: 5vh;
      opacity: 0;

      a {
        font-size: 2rem;
      }
    }
  }

  .burger {
    z-index: 201;
    display: flex;
    flex-direction: column;
  }
}

.nav-active {
  transform: translateX(0%);
  display: flex;
}

.nav-open {
  background: rgba(11, 14, 14, .4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  opacity: 1;
  pointer-events: none;
  transition-duration: .5s;
  overflow-y: hidden;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.prevent-scroll {
  position: fixed;
}